@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Ultra&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@900&family=Playfair+Display&family=Ultra&display=swap");

.common {
  @apply mx-auto max-w-7xl px-2 sm:px-4 lg:px-8;
}

.swiper {
  width: 440px;
  height: 420px;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}

.swiper-slide:nth-child(1n) {
  background-color: rgb(206, 17, 17);
}

.swiper-slide:nth-child(2n) {
  background-color: rgb(0, 140, 255);
}

.swiper-slide:nth-child(3n) {
  background-color: rgb(10, 184, 111);
}

.swiper-slide:nth-child(4n) {
  background-color: rgb(211, 122, 7);
}

.swiper-slide:nth-child(5n) {
  background-color: rgb(118, 163, 12);
}

.swiper-slide:nth-child(6n) {
  background-color: rgb(180, 10, 47);
}

.swiper-slide:nth-child(7n) {
  background-color: rgb(35, 99, 19);
}

.swiper-slide:nth-child(8n) {
  background-color: rgb(0, 68, 255);
}

.swiper-slide:nth-child(9n) {
  background-color: rgb(218, 12, 218);
}

.swiper-slide:nth-child(10n) {
  background-color: rgb(54, 94, 77);
}

/*phone*/
@media only screen and (max-width: 688px) {
  .swiper {
    width: 300px;
    height: 300px;
  }
}
/* Tab */
@media only screen and (min-width: 689px) and (max-width: 992px) {
  .swiper {
    width: 300px;
    height: 300px;
  }
}
/* leptop */
@media only screen and (min-width: 993px) and (max-width: 1312px) {
  .swiper {
    width: 300px;
    height: 300px;
  }
}

.circle {
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 100vmax;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  position: absolute;
  width: 50px;
  height: 80px;

  background: url("https://upload.wikimedia.org/wikipedia/commons/d/d0/Eth-diamond-rainbow.png");
  background-size: cover;
  z-index: 500;

  border-radius: 100vmax;
  background-position: center;
}

.text {
  position: absolute;
  width: 200px;
  height: 200px;
  font-family: consolas;
  color: #000;
  font-size: 12px;
  animation: textRotation 8s linear infinite;
}

@keyframes textRotation {
  to {
    transform: rotate(360deg);
  }
}

.text span {
  position: absolute !important;
  left: 50% !important;
  font-size: 12px !important;
  transform-origin: 0 100px !important;
}
